<h1>DASHBOARD</h1>
<p>Account Number : <b><%= user.account_number %></b></p>
<p>Email : <b><%= user.email %></b></p>
<p>Role : <b><%= user.role %></b></p>
<p>Status : <b><%= user.status %></b></p>

<form action="/logout" method="get">
  <button type="submit">Log Out</button>
</form>
