<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Basic Bank System - Yusuf's Portfolio</title>
    <style>
      body{
        background-image: url("https://img.freepik.com/free-photo/blue-abstract-gradient-wave-wallpaper_53876-108364.jpg?w=1060&t=st=1702731050~exp=1702731650~hmac=fe78df2bcc50faa76fa53fa4cfb764a42dc629128e269cbcb4a7a4a74aa9a9bf");
        background-repeat: no-repeat;
        background-size: cover;
      }
      main {
        position: absolute;
        padding: 0;
        justify-content: center;

      }
      .banner{
        top: 0;
        left: 0;
        position: absolute;
        min-width: 100%;
        height: 100px;
        max-height: 100px;
        background-color: aquamarine;
      }
      .container {
        position:inherit;
        top: 100px;
        background-color: rgba(232, 247, 247, 0.448);
        box-shadow: 0 0.5em 0.5em rgba(172, 177, 177, 0.84);
        width: 1200px;
        height: 400px;
        max-height:300px;
        margin: auto;
        padding: 2rem;
        border-radius: 1rem;align-items: baseline;
      }
    </style>
  </head>
  <body>
<div class="banner">
       <h1>Basic Bank System Index</h1>
      </div>
    <main>

      <div class="container">

      <p>
        Welcome to my portfolio website!<br />
        I'll constantly update this website as my skill's grow, but as i am
        leaning more to back-end side of things the UI is practically barebone.
        <br />
      </p>
      <p><i>- Yusuf Trihartono Tonapa</i></p>
      <br />

      <p>Try authentication feature here</p>
      <form action="/login" method="get">
        <div>
          <input type="submit" value="Log In" />
        </div>
      </form>
      <p>You can see my REST API Documentation here</p>
      <form action="/api-docs" method="get">
        <div>
          <input type="submit" value="API-Docs" />
        </div>
      </form>
    <div></main>
  </body>
</html>
