<h1>Transaction Menu</h1>
<p>choose the type of transaction</p>

<form action="/api/v3" method="get"></form>

<form action="/api/v3/transactions/transfers" method="get">
  <div>
    <input type="submit" value="Transfer" />
  </div>
</form>

<form action="/api/v3/transactions/deposits" method="get">
  <div>
    <input type="submit" value="Deposit" />
  </div>
</form>

<form action="/api/v3/transactions/withdraws" method="get">
  <div>
    <input type="submit" value="Withdraw" />
  </div>
</form>
