<title>Basic Bank System</title>
<script
  src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
  integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
  crossorigin="anonymous"
></script>
<body id="body">
  <h1>Redirect Page</h1>
  <p>You are being redirected to <b>Login Page</b>...</p>
</body>
