<h2>Reset Password</h2>
<p style="max-width: 25em">Enter your new password</p>
<br />
<form action="<%=link %>" method="post">
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required />
  </div>
  <br />
  <div>
    <input type="submit" value="Send" />
  </div>
</form>
